.formContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;

}

.formContainer button {
    margin-top: 10px;
    width: 100px;
}

.error {
    color: crimson;
    font-size: 12px;
}

.field {
    margin-bottom: 5px;
}