ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.list {
    list-style: none;
}

.item {
    width: 250px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.btn {
    width: 80px;
    height: 40px;
    margin-left: auto;
    align-self: center;
    border-radius: 5px;
    border: 1px solid
}

.btn:hover {
    background-color: #90b3cb;

}